.section-title {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    border: 1px solid black;
    font-weight: bold;
}

#chicken .section-title {
    background-color: pink;
}

#beef .section-title {
    background-color: red;
}

#sushi .section-title {
    background-color: yellow;
}

.Column-Lg, .Column-Md, .Column-Sm {
    position: relative;
    padding: 20px;
    border: 1px solid black;
    background-color: #D3D3D3;
    margin: 10px;
    flex: 1 1 30%;
}
