/* styles.css */

/* Custom styles for the navbar */
.navbar {
    margin-bottom: 20px;
    background-color: #e9ecef; /* Light gray background color for the entire navbar */
}

.navbar-brand {
    font-size: 1.5rem;
    color: #343a40; /* Darker gray text color for better contrast */
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

/* Custom styles for the card */
.card {
    border-radius: 0.5rem;
}

.card-title {
    font-size: 1.5rem;
    text-align: center; /* Center the text horizontally */
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
    background-color: #f8f9fa; /* Light gray background color */
}

/* Custom styles for the footer */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #6c757d; /* Gray background color */
    color: #f8f9fa; /* Light gray text color */
}

/* Responsive adjustments */

/* Media query for medium screens and smaller */
@media (max-width: 768px) {
    .card-title {
        font-size: 1.25rem;
    }
    
    .card-text {
        font-size: 0.9rem;
    }
    
    /* Show Navbar and Hamburger Icon for Small Screens */
    .navbar-nav {
        display: block; /* Ensure the navbar is visible */
    }

    .navbar-toggler {
        display: block; /* Ensure the hamburger icon is visible */
    }
}

/* Media query for medium and large screens */

/* Hide Navbar and Hamburger Icon Larger Screens */
@media (min-width: 769px) {
    .navbar-nav {
        display: none; /* Hide the navbar */
    }

    .navbar-toggler {
        display: none; /* Hide the hamburger icon */
    }
}
