/* styles.css */

/* Custom styles for the navbar */
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #343a40; /* Darker gray text color for better contrast */
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

/* Custom color for the dropdown navbar */
#navbarNav {
    background-color: #e0e0e0; /* Example: Slightly darker gray background */
    color: black;
    border-radius: 0.5rem;
}

/* Custom styles for the card */
.card {
    border-radius: 0.5rem;
}

.card-title {
    font-size: 1.5rem;
    text-align: center; /* Center the text horizontally */
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

/* Custom background color for cards */
.card {
    background-color: #d4dae0; /* Gray background */
    color: black
    border: 1px solid #dee2e6; /* Optional: Customize border color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Customize shadow */
    border-radius: 0; /* Remove rounded corners */
}



 
/* Custom gray background for header area*/
.bg-gray {
    background-color: #97999d; /* Dark gray */
    color: black;
}


/* Responsive adjustments */

/* Media query for medium screens and smaller */
@media (max-width: 768px) {
    .card-title {
        font-size: 1.25rem;
    }
    
    .card-text {
        font-size: 0.9rem;
    }
    
    /* Show Navbar and Hamburger Icon for Small Screens */
    .navbar-nav {
        display: block; /* Ensure the navbar is visible */
    }

    .navbar-toggler {
        display: block; /* Ensure the hamburger icon is visible */
    }
}

/* Media query for medium and large screens */

/* Hide Navbar and Hamburger Icon Larger Screens */
@media (min-width: 769px) {
    .navbar-nav {
        display: none; /* Hide the navbar */
    }

    .navbar-toggler {
        display: none; /* Hide the hamburger icon */
    }
}
